h1{
    color: white;
    text-align: center;
    font-style: oblique;
    font-size: 40px;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}
h3{
    color: rgb(255, 255, 255);
}
h4{
    color: rgb(255, 255, 255);
    text-align: center;
}
h5{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
h5:hover{
    font-size: 150%;
    color: black;
    transition: 1s;
    background-color: orange;

}
li{
    color: rgb(255, 255, 255);
    background-color: orange;
}
a{
    color: black
}
a:hover{
    color: white;
    transition: 0.5s;
}
.bordes{
    border: 5px solid;
    color: rgb(70, 70, 70);
}
.fondo{
    background-image:url(../Recursos/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
ul{
    list-style: none;
    background-color: orange;
    border: 2px solid black;
    font-size: 0;
}
li{
    display: inline-block;
    width: 20%;
    position: relative;
    font-size: 20px;
}
li a{
    text-decoration: none;
}
.boxmodel{
border: 2px solid black;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}
.fotoyvideo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url(../Recursos/fondo3.jpg);
}
.video1{
    padding: 2% 2% 2% 2%;
    height: 300px;
    width: 400px;
}
.foto1{
    padding: 2% 2% 2% 2%;
    height: 300px;
    width: 400px;
}
.marcodetexto{
    display: grid;
    justify-content: center;
    grid-template-areas:
    "texto1 texto2"
    "texto3 texto3";
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    justify-content: center;
    grid-gap: 50px;
    padding: 0px 20px 0px 20px;
}
@media (max-width:1000px){
    .marcodetexto{
    height: 500px;}
}
@media (max-width: 500px){
    .marcodetexto{
        height: 800px;
    }
}
@media (max-width:370px){
    .marcodetexto{
        display:flex;
        flex-direction: column;
    }
}
.texto{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    background-color: blue;
    padding: 2% 2% 2% 2%;
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2;
}
.texto3{
    grid-area: texto3;
    height: 50%;
}
.fondoproductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.producto{
    margin: 0% 1% 0% 1%;
}
.producto:hover{
    transform: scale(108%);
    transition: 0.3s;
}
.footer{
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    width: 100%
}
.formulario{
    background-image: url(../Recursos/fondo3.jpg);
    color: white;
    padding-left: 10px;
}
.fondoheader{
    background-image: url(../Recursos/Barra1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    float: left;
}
.menu640px{
margin: 0px 0px 0px 80%;
}
.textarea{
    display: flex;
}
@media (max-width:600px){
    .menu{display: none;}
}
@media (min-width:600px){
    .menu640px{display: none;}
    .fondoheader{display: flex;}
}
@media (max-width:440px){
    .foto1{height: 200px; width: 300px;}
    .video1{height: 200px; width: 300px;}
}